<p id="notice"><%= notice %></p>

<h1>NKUnet</h1>
<h2>Answers to Question</h2>

<%= link_to 'Home', questions_path %>
<%= link_to 'Users', users_path %>
<%= link_to 'New Question', new_question_path %>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question.question_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @question.user.name %>
</p>

<p>
  <strong>Answers:</strong>
  <%= link_to @question.answers.count , answers_path %>
</p>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <% if answer.question_id == @question.question_id %>
        <tr>
          <td><%= answer.content %></td>
          <td><%= answer.user.name %></td>
          <td><%= answer.question_id %></td>
          <td><%= link_to 'Show', answer %></td>
          <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
          <td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Answer', new_answer_path %> |
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
