<p id="notice"><%= notice %></p>
<% if ((logged_in?) && (get_UAL? == 4))%>
<h2>Questions</h2>

<%= link_to 'New Question', new_question_path %>

<table>
  <thead>
    <tr>
      <th>Reputation</th>
      <th>Title</th>
      <th>Question</th>
      <th>User</th>
      <th>Answers</th>
      <th>Flagged</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.rep %></td>
        <td><%= question.title %></td>
        <td><%= question.content %></td>
        <td>asked by <%= link_to question.user.name, user_path(question.user) %> (rep: <%= question.user.rep %>)</td>
        <td><%= link_to question.answers.count, answers_path %></td>
        <td><%= question.is_flagged %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
<% else %>
  <h2>You are not authorized to view this page.</h2>
<% end %>