<p id="notice"><%= notice %></p>
<% if ((logged_in?) && (can_view_crs(@question.course.id))) %>
<% set_question(@question.id) %>
<h2>Question posted in <%= link_to @question.course.name, course_path(@question.course) %> (<%= link_to @question.course.academic_label, course_path(@question.course) %>)</h2>

<% if @question.is_flagged == 1 %>
<h3>This Question has been Flagged</h3>
<% else %>
<h2><%= @question.title %> (Rep: <%= @question.rep %>)</h2>
<%= @question.content %><br><br>
<% end %>
asked by <%= link_to @question.user.name, user_path(@question.user) %> (Rep: <%= @question.user.rep %>)<br>

<% if !owns_question(@question.id) %>
<%= link_to 'Vote Up', upvote_question_path(@question) %>
<%= link_to 'Vote Down', downvote_question_path(@question) %>
<% end %>
<% if owns_question(@question.id) %>
<%= link_to 'Edit', edit_question_path(@question) %>
<% end %>
<% if (get_UAL? >= 2) %>
<%= link_to 'Flag', flag_question_path(@question) %>
<% end %>


<br><br><h2><b>Answers:</b></h2>
<% if @question.answers.count == 0 %>
  <b>No answers yet.</b><br><br>
<% end %>
<%= link_to 'New Answer', new_answer_path %><br><br>
<% if @question.answers.count > 0 %>
<table>
    <!--<tr>
      <th>Content</th>
      <th>User</th>
      <th>Question</th>
      <th>Flagged</th>
      <th colspan="3"></th>
    </tr>-->
    <% @question.answers.each do |answer| %>
      <% if answer.is_flagged == 1 %>
        <tr>
          <td><b>This Answer Has Been Flagged!</b></td>
        </tr>
        <tr>
          <td>Content Hidden.</td>
        </tr>
        <tr>
          <td>by <%= link_to answer.user.name, user_path(answer.user) %> (Rep: <%= answer.user.rep %>)</td>
        </tr>
      <% else %>
        <tr>
          <td><%= answer.content %> (Rep: <%= answer.rep %>)</td>
        </tr>
        <tr>
          <td>by <%= link_to answer.user.name, user_path(answer.user) %> (Rep: <%= answer.user.rep %>)</td>
        </tr>
        <tr>
          <td><% if (!owns_answer(answer.id)) %><%= link_to 'Vote Up', upvote_answer_path(answer) %> 
          <%= link_to 'Vote Down', downvote_answer_path(answer) %> <% end %>
          <% if ((owns_answer(answer.id)) || (get_UAL? == 4)) %> <%= link_to 'Edit', edit_answer_path(answer) %> <% end %>
          <% if (get_UAL? >= 2) %> <%= link_to 'Flag', flag_answer_path(answer) %> <% end %>
          <% if (get_UAL? == 4) %> <%= link_to 'Remove', answer, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %></td>
        </tr>
      <% end %>
    <% end %>
</table>
<% end %>
<% if @question.answers.count > 0 %>
  <br><%= link_to 'New Answer', new_answer_path %>
<% end %>
<% else %>
  <h2>You are not authorized to view this page.</h2>
<% end %>