<% if ((logged_in?) && (get_UAL? >= 3))%>
  <%= form_for(user) do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email %>
    </div>
    <br>
    <div class="field">
      <%= f.label :accesslevel %><br> <!-- fixed the radio buttons for ya. remember, in order for the values to be submitted, you need to use "f."-->
      <%= f.radio_button(:accesslevel, 1) %>
        <%= f.label(:accesslevel_1, "Student") %> |
      <%= f.radio_button(:accesslevel, 2) %>
        <%= f.label(:accesslevel_2, "Faculty") %> |
      <%= f.radio_button(:accesslevel, 3) %>
        <%= f.label(:accesslevel_3, "Registrar") %> |
      <%= f.radio_button(:accesslevel, 4) %>
        <%= f.label(:accesslevel_4, "Moderator") %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% else %>
  <h2>You are not authorized to view this page.</h2>
<% end %>