<p id="notice"><%= notice %></p>
<% if logged_in? %>
  <h2>Users</h2>
  
  <% if @users.count == 0 %>
    <b>No Users yet.</b>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Reputation</th>
          <th>Access Level</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% if ((logged_in?) && (get_UAL? >= 3))%>        <!-- registrar and mod can see all users -->
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.name, user %></td>
              <td><%= link_to user.email, user %></td>
              <td><%= user.rep %></td>
              <td><%= user.accesslevel %></td>
              <!--<#% if ((logged_in?) && (get_UAL? >= 3)) %>-->
              <td><%= link_to 'Edit', edit_user_path(user) %></td>
              <td><%= link_to 'Remove', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <!--<#% end %>-->
            </tr>
          <% end %>
        <% else %>                                       <!-- users and faculty can see only other class-relevant users -->
          <% @users.each do |user| %>
            <% if shares_course_id(user) %>
            
              <!--<#% if (@user.course_id == user.course_id)%> doing shit-->
              <tr>
                <td><%= link_to user.name, user %></td>
                <td><%= link_to user.email, user %></td>
                <td><%= user.rep %></td>
                <td><%= user.accesslevel %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
    <h2>Please Log-In to view Users.</h2>
<% end %>