<p id="notice"><%= notice %></p>
<% if logged_in? %>
  <% if get_UAL? >= 3 %>
    <% set_regis_cr_user(@user.id) %>
  <% end %>
  <h2><%= @user.name %>'s Profile</h2>
  
  <p>
    <strong>Reputation:</strong>
    <%= @user.rep %>
  </p>
  
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <% if ((logged_in?) && (get_UAL? >= 3)) %>
    <%= link_to 'Edit', edit_user_path(@user) %><br><br>
  <% end %>
  
  <% if (@user.accesslevel <= 2) %>
  <p>
    <strong>Courses:</strong>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
    
      <tbody>
        <% if @user.courses.count == 0 %>
          <tr><td colspan="2">This user is not enrolled in any courses yet.</td></tr>
        <% else %>
          <% @user.courses.each do |course| %>
            <tr>
              <td><%= link_to course.name, course %> (<%= course.academic_label %>)</td>
              <td><%= course.description %></td>
            <% if (get_UAL? >= 3) %>
            <% c_id = course %>
            <% c2u = Course2user.find_by(course_id: c_id, user_id: @user.id) %>
              <td><%= link_to 'Remove', course2users(c2u.id), method: :delete, data: { confirm: 'Are you sure?' }%></td>
            <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <% if ((logged_in?) && (get_UAL? >= 3)) %>
      <%= link_to 'Add_Course', new_course2user_path %><br><br>
    <% end %>
  </p>
  <% end %>
  
  <h2>Questions: <%= @user.questions.count %></h2>
  <% if @user.questions.count == 0 %>
  <b>This User has not asked any questions yet.</b>
  <% else %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Course</th>
        <th>Answers</th>
        <th colspan="2"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @user.questions.each do |question| %>
        <% if question.is_flagged == 1 %>
          <tr>
            <td>This Question has been Flagged</td>
            <td>in <%= link_to question.course.name, course_path(question.course) %> (<%= question.course.academic_label %>)</td>
            <td><%= question.answers.count %></td>
          </tr>
        <% else %>
          <tr>
            <td><%= link_to truncate(question.title, :length => 50, :separator => ' ', :omission => "..."), question_path(question) %> (Rep: <%= question.rep %>)</td>
            <td>in <%= link_to question.course.name, course_path(question.course) %> (<%= question.course.academic_label %>)</td>
            <td><%= question.answers.count %></td>
            <td><%= link_to 'Edit', edit_question_path(question) %></td>
            <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% end %>
  
  <br><h2>Answers: <%= @user.answers.count %></h2>
  <% if @user.answers.count == 0 %>
  <b>This User has not answered any questions yet.</b>
  <% else %>
  <table>
    <thead>
      <tr>
        <th>Answer</th>
        <th>Question</th>
        <th>Course</th>
        <th colspan="2"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @user.answers.each do |answer| %>
        <% if answer.is_flagged == 1 %>
          <tr>
            <td>This Answer has been Flagged</td>
            <td><%= link_to truncate(answer.question.title, :length => 50, :separator => ' ', :omission => "..."), question_path(answer.question) %> </td>
            <td>in <%= link_to answer.question.course.name, course_path(answer.question.course) %> (<%= answer.question.course.academic_label %>)</td>
          </tr>
        <% else %>
          <tr>
            <td><%= truncate(answer.content, :length => 50, :separator => ' ', :omission => "...") %> (Rep: <%= answer.rep %>)</td>
            <td><%= link_to answer.question.title, question_path(answer.question) %> </td>
            <td>in <%= link_to answer.question.course.name, course_path(answer.question.course) %> (<%= answer.question.course.academic_label %>)</td>
            <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
            <td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% end %>
<% else %>
  <h2>Please Log-In to view this User.</h2>
<% end %>
