<p id="notice"><%= notice %></p>
<% if ((logged_in?) && (get_UAL? == 4))%>
<h1>NKUnet</h1>
<h2>Answers</h2>

<%= link_to 'Home', questions_path %>
<%= link_to 'Users', users_path %>
<%= link_to 'New Question', new_question_path %>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <% if answer.question_id >= 0 %>
        <tr>
          <td><%= answer.content %></td>
          <td><%= answer.user.name %></td>
          <td><%= answer.question_id %></td>
          <td><%= link_to 'Show', answer %></td>
          <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
          <td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% elsif (get_UAL? != 4) %>
  <h2>You are not authorized to view this page.</h2>
<% end %>
