<p id="notice"><%= notice %></p>

<h2>Question:</h2>
<%= @answer.question.content %><br>
asked by <%= @answer.question.user.name %>
<br><br>
<h2>Answer:</h2>
<%= @answer.content %><br>
answered by <%= @answer.user.name %>
<br><br>
<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Flag', flag_answer_path(@answer) %> |
<%= link_to 'Back', question_path(@answer.question) %>
