<!DOCTYPE html>
<html>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %> <!-- delete this... and may God have mercy on your soul!-->
  <%= render "layouts/header" %>

  <body>
    <%= yield %>
  </body>
  
</html>
